<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Panel</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
          <li class="breadcrumb-item active">Panel</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
  <div class="jumbotron text-white" style="background: orange;">
    <h1 class="display-4">Merhaba!</h1>
    <p class="lead">Şuan bulunduğun uygulama içerisinde Angular Projesi kapsamında, kategori, iş ve referans <strong>EKLEME</strong> işlemlerini gerçekleştirebilirsin.</p>
    <hr class="my-4">
    <p>Angular Projesi admin paneli GitHub reposu!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://github.com/YusufDEDE/KazierTech_WebApp" role="button"><i class="fab fa-github"></i> GitHub Repo</a>
    </p>
</div>
</div>